@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";

@import 'toolbar';
@import 'canvas';
@import 'console';

*, h1, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.container {
    width:100%;
}

.paint {
    position:relative;
    margin:0 auto;
    width: 100%;
    min-width: 1000px;
}

.paint__work_space {
    width:100%;
    height:700px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dcdcdc;
}